@model MvcAngular6.Models.ReflectionTest
@{
    ViewBag.Title = "Reflection";
}

<h2>Reflection</h2>
<div>Start: @Model.Start.ToString("yyyy-MM-dd HH:mm:ss.fff")</div>
<div>End: @Model.End.ToString("yyyy-MM-dd HH:mm:ss.fff")</div>
<div>Duration: @Model.Duration</div>
<div>ItemCount: @Model.ItemCount</div>
<div>Start1: @Model.Start1.ToString("yyyy-MM-dd HH:mm:ss.fff")</div>
<div>End1: @Model.End1.ToString("yyyy-MM-dd HH:mm:ss.fff")</div>


